// Variables
$default-color: #60d9fa;

.menu {
    background     : #212121;
    max-width      : 100%;
    margin         : 0 auto;
    padding        : 4px 0;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
    align-items    : center;
}

.menuLogo a {
    text-decoration: none;
    color          : $default-color;
    margin-left    : 10px;

    font: {
        weight: bold;
        size  : 1.45em;
    }

}

.menuNavLink {
    text-decoration: none;
    color          : $default-color;
}

.menuNav {
    ul {
        list-style: none;
        display   : flex;
        flex-wrap : wrap;
    }

    li {
        margin-right: 25px;
        cursor      : pointer;

        &:hover {
            color: #ff0080;
        }
    }
}